
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand">
Slim Souissi        </a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="isLoggedIn() && user" [routerLink]="['user/profile' , user.id]" >
            <a role="button"> 
              My profile
            </a>
            </li>
            <li *ngIf="isLoggedIn() && user" [routerLink]="['/dashboard']" >
              <a role="button"> 
                Dashboard
              </a>
              </li>
              <li *ngIf="isLoggedIn() && user" [routerLink]="['/create/joke']" >
                <a role="button"> 
                  Create a joke
                </a>
                </li>
        </ul>
  
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!isLoggedIn()"><a routerLink = '/auth/login' >Login</a> </li>
          <li *ngIf="!isLoggedIn()"><a routerLink = '/auth/register'>Register</a> </li>
          <li *ngIf="isLoggedIn()" ><a (click)='logout()'>Logout</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <app-notify></app-notify>
      <router-outlet></router-outlet>
  </div>